@page "/"
@inject IOrderService OrderService

<h4 class="mb-lg-4">Select date and start exploring data about orders, vaccines and vaccinations.</h4>
<input class="p-1 m-1" type="datetime-local" disabled="@isLoading" @bind="Date" min="1990-01-01T00:00" max="2050-01-01T00:00" />
@if (isLoading == true && ordersBeforeDate.Count != 0)
{
<div class="spinner-border ml-3" role="status">
    <span class="sr-only">Loading...</span>
</div>
}

<div class="row mt-4">
    <div class="col-sm-12 col-lg-6">
        <ArrivedCard OrdersBeforeDate="ordersBeforeDate" OrdersOnDate="ordersOnDate"></ArrivedCard>
    </div>
    <div class="col-sm-12 col-lg-6">
        <ExpiredCard ExpiredOrders="expiredOrders"></ExpiredCard>
    </div>
</div>

@code {
    public List<Order> ordersBeforeDate { get; set; } = new List<Order>();
    public List<Order> ordersOnDate { get; set; } = new List<Order>();
    public List<Order> expiredOrders { get; set; } = new List<Order>();
    private DateTime date = new DateTime(2021, 4, 12, 11, 10, 06);
    public DateTime Date
    {
        get { return date; }
        set
        {
            date = value;
            HandleChange();
        }
    }
    private bool isLoading { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(date);
        await GetAllData();
    }

    private async Task GetAllData()
    {
        try
        {
            isLoading = true;
            ordersBeforeDate = await OrderService.GetOrdersBeforeDate(date.ToString("s"));
            ordersOnDate = await OrderService.GetOrdersOnDate(date.ToString("s"));
            expiredOrders = await OrderService.GetOrdersBeforeDate(Substrack30DaysToString(date));
            isLoading = false;
        }
        catch (Exception)
        {
            Console.WriteLine("ERROR");
            isLoading = false;
        }
    }

    private string Substrack30DaysToString(DateTime date)
    {
        return date.AddDays(-30).ToString("s");
    }

    private async void HandleChange()
    {

        await GetAllData();
        StateHasChanged();
    }


}
